# This is a template for the main VM, that we'll do the managing from
# it's the only VM that you can connect through SSL to, mainly because it should be the only one for security reasons
# Also, there's a simple script just so that I could check if the network is configured correctly 
 
resources:
 - name: {{ name }}
   type: compute.v1.instance
   properties:
       zone: {{ properties["zone"] }}
       machineType: zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
       disks:
       - deviceName: boot
         type: PERSISTENT
         boot: true
         autoDelete: true
         initializeParams:
            sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9
       metadata:
         items:
         - key: startup-script
           value: |
             sudo apt-get update
             sudo apt-get install apache2 -y
             sudo service apache2 restart
             echo "host:`hostname`" | sudo tee /var/www/html/index.html
       networkInterfaces:
       - network: $(ref.{{ properties["network"] }}.selfLink)
         accessConfigs:
         - name: External NAT
           type: ONE_TO_ONE_NAT
         subnetwork: $(ref.{{ properties["subnetwork"] }}.selfLink)
       tags:
         items: ["ssh"]
