# This is a simple template for creating subnets
resources:
- name: {{ name }}
  type: compute.v1.subnetwork
  properties:
    ipCidrRange: {{ properties["ipCidrRange"] }}
    network: $(ref.{{ properties["network"] }}.selfLink)
    region: {{ properties["region"] }}
